<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>toy.github.com</title>
	<style type="text/css">
		body { font: 14px "Myriad Pro", "Helvetica", Arial, sans-serif; margin: 10px 20px; }
		a { text-decoration: none; }

		h2 { font-size: 30px; margin: 0; }
		ul, li { list-style: none; margin: 0; padding: 0; }
		li { margin-bottom: 0.8em; }
		p { position: relative; margin: 0; }
		p.small { font-size: 10px; }
		span.download { position: relative; }
		span.download a { font-size: 16px; font-weight: bold; position: absolute; top: -0.6em; }
	</style>
</head>
<body>
	<h2>references:</h2>
	<ul>
		<li>
			<p>
				<a href="/rb/">
					<nobr>ruby (<%= rubies.join(', ') %>)</nobr>,
					<nobr>rails (<%= rails.join(', ') %>)</nobr>,
					<nobr>gems <sup>*</sup></nobr>,
					<nobr>plugins <sup>**</sup></nobr>
				</a>
				<span class="download"><a href="http://github.com/toy/rb/downloads">download</a></span>
			</p>
			<p class="small"><sup>*</sup>gems: <%= gems.join(', ') %></p>
			<p class="small"><sup>**</sup>plugins: <%= plugins.join(', ') %></p>
		</li>

		<li>
			<p>
				<a href="/ui/">javascript core, dom api, prototype framework, script.aculo.us library, css 2.1 and raphael</a>
				<span class="download"><a href="http://github.com/toy/ui/downloads">download</a></span>
			</p>
		</li>

		<li>
			<p>
				<a href="/as/">action script 3</a>
				<span class="download"><a href="http://github.com/toy/as/downloads">download</a></span>
			</p>
		</li>
	</ul>
</body>
</html>
