<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>toy.github.com</title>
	<style type="text/css">
		body { font: 30px "Myriad Pro", "Helvetica", Arial, sans-serif; margin: 20px; }
		a { text-decoration: none; }
		p { position: relative; margin: 0; }
		p.small { font-size: 11px; }
		span.download { font-size: 16px; font-weight: bold; position: absolute; display: inline-block; top: -0.5em; }
	</style>
</head>
<body>
	<h1>references for:</h1>
	<p><a href="rb/"><nobr>ruby (<%= rubies.join(', ') %>)</nobr>,
		<nobr>rails (<%= rails.join(', ') %>)</nobr>,
		<nobr>gems <sup>*</sup></nobr>,
		<nobr>plugins <sup>**</sup></nobr></a>
		<span class="download"><a href="http://github.com/toy/rb/downloads">download</a></span></p>
	<p class="small"><sup>*</sup>gems: <%= gems.join(', ') %></p>
	<p class="small"><sup>**</sup>plugins: <%= plugins.join(', ') %></p>
	<p><a href="ui/">javascript core, dom api, prototype framework, script.aculo.us library and css</a>
		<span class="download"><a href="http://github.com/toy/ui/downloads">download</a></span></p>
</body>
</html>
